<section id="formules" class="padding-formule bg-green">
    <div class="container">

        <h2 class="formule green text-center text-uppercase">- {{ 'app.subtitle.formule_two'|trans }} -</h2>
        <div class="black-title text-center">{{ 'app.subtitle.formule'|trans }}</div>
        <div class="row formules-container">
            {% for formule in formules %}
                <div class="col-md-4 col-sm-4 col-xs-12 item-formule wow fadeInUp">
                    <div class="title">
                            <span class="text-uppercase text-bold">{{ ez_render_field(formule, 'title') }}</span>
                            <span><span class="price text-bold">{{ ez_render_field(formule, 'price') }}€</span> <span class="bymonth">/mois</span></span>
                    </div>
                    <div class="content">
                        {{ ez_render_field(formule, 'description') }}
                        <div class="text-center bnt-container">
                            <button class="formule-btn">{{ 'app.formule.btn'|trans }}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>