<section id="portfolio" class="wow fadeInUp">
    <div class="container">
        <div>
            <h2>{{ 'app.title.gallery'|trans }}</h2>
            <div class="pull-left content-filter">
                <button class="filter active" data-filter=".all">{{ 'app.filter.all'|trans }}</button> - <button data-filter=".peinture" class="filter">{{ 'app.filter.peinture'|trans }}</button> - <button data-filter=".dessin" class="filter">{{ 'app.filter.dessin'|trans }}</button> - <button data-filter=".photo" class="filter">{{ 'app.filter.photo'|trans }}</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="grid">
            {% for gallery_item in gallery_items %}
                {% set imageAlias = ez_image_alias(gallery_item.getField('image'), gallery_item.versionInfo, 'gallery_image') %}
                <div class="grid__item all {{ ez_field_value(gallery_item, 'type') }}" data-size="x">
                    <a href="{{ imageAlias.uri }}" class="img-wrap">
                        {{ ez_render_field(gallery_item, 'image', {
                            parameters: {
                                alias: 'gallery_image_thumb'
                            }
                        }) }}
                        <div class="description description--grid">
                            <h3>{{ ez_field_value(gallery_item, 'title') }}</h3>
                            {{ ez_render_field(gallery_item, 'quote') }}
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>{{ ez_field_value(gallery_item, 'method') }}</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>{{ ez_field_value(gallery_item, 'size') }}</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>{{ 'app.contact_me'|trans }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="preview">
            <button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
            <div class="description description--preview"></div>
        </div>
        <div class="grid-filter hide">
        </div>
    </div>
</section>