{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block content %}
    {% include 'AppSiteBundle::pagelayout/page_header.html.twig' %}
    {% include 'AppSiteBundle::pagelayout/page_navigation.html.twig' %}
    <section id="program" style="background-image:url('{{ ez_field_value(content, 'image_programe').uri }}');">
        <div class="container text-center wow fadeInUp">
            <div class="black-title">{{ 'app.subtitle.program'|trans }}</div>

            <h2 class="margin">{{ ez_render_field(content, 'title_programme') }}</h2>
            <div class="col-md-8 col-md-offset-2">
                {{ ez_render_field(content, 'description_programme') }}
                <hr>
            </div>

        </div>
    </section>
    <section id="coach" class="container-fluid no-padding">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-push-6 wow fadeInRight coach-picture">
                <div class="row">
                    {{ ez_render_field(content, 'image_bio') }}
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-sm-pull-6 text-center black-color padding-tb wow fadeInLeft">
                <div class="black-title">{{ 'app.subtitle.coach'|trans }}</div>
                <h2 class="margin green">{{ ez_render_field(content, 'coach_name') }}</h2>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    {{ ez_render_field(content, 'text_bio') }}
                    <hr>
                </div>
            </div>
        </div>
    </section>
    {% if params.formules|length > 0 %}
        {% include 'AppSiteBundle::content/parts/formules.html.twig' %}
    {% endif %}
    {% if params.articles|length > 0 %}
        {% include 'AppSiteBundle::content/parts/blog.html.twig' %}
    {% endif %}
    {% include 'AppSiteBundle::content/parts/contact.html.twig' %}
{% endblock %}