<section id="contact" style="background-image:url('{{ ez_field_value(content, 'image_contact').uri }}');">
    <div class="container">

        <h2 class="green text-center text-uppercase contact">- {{ 'app.subtitle.contact'|trans }} -</h2>
        {% form_theme form 'AppSiteBundle::form/form_theme.html.twig' %}
        {{ form_start(form, {'attr': {'id': 'form-contact'}}) }}
            <div class="row">
            {{ form_row(form.name, {
                'label': false,
                'attr': {'placeholder': 'app.form.name', 'classBlock': 'col-sm-4'}
                })
            }}
            {{ form_row(form.email, {
                'label': false,
                'attr': {'placeholder': 'app.form.email', 'classBlock': 'col-sm-4'}
                })
            }}
            {{ form_row(form.subject, {
                'label': false,
                'attr': {'classBlock': 'col-sm-4'}
                })
            }}
            {{ form_row(form.message, {
                'label': false,
                'attr': {'placeholder': 'app.form.your_msg', 'classBlock': 'col-sm-12', 'rows': 10}
                })
            }}
            </div>
        <button type="submit" id="btn-contact" class="btn btn-default">{{ 'app.send'|trans }}</button>
        <span class="msg"></span>
        {{ form_end(form) }}


    </div>
</section>
