<section id="contact" style="background-image:url('{{ ez_field_value(content, 'image_contact').uri }}');">
    <div class="container">

        <h2 class="green text-center text-uppercase contact">- {{ 'app.subtitle.contact'|trans }} -</h2>
        {% form_theme form 'AppSiteBundle::form/form_theme.html.twig' %}
        {{ form_start(form, {'attr': {'id': 'form-contact'}}) }}
            <div class="row">
                <div class="form-group col-sm-4">
                    {{ form_widget(form.name, {
                        'attr': {'placeholder': 'app.form.name'}
                        })
                    }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_widget(form.email, {
                        'attr': {'placeholder': 'app.form.email'}
                        })
                    }}
                </div>
                <div class="form-group col-sm-4">
                    {{ form_widget(form.subject)}}
                </div>
                <div class="form-group col-sm-12">
                    {{ form_widget(form.message, {
                        'attr': {'placeholder': 'app.form.your_msg', 'rows': 10}
                        })
                    }}
                </div>
            </div>
        <button type="submit" id="btn-contact" class="btn btn-default">{{ 'app.send'|trans }}</button>
        <span class="msg"></span>
        {{ form_end(form) }}


    </div>
</section>
