{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block class_section %}bg-white{% endblock %}
{% block body %}

    <div class="container">
        {{ form_start( form, { 'attr': {'id': 'addpatient'}} ) }}
        <div class="row">

            <div class="col-sm-6 col-md-6">
                    {% form_theme form 'AppSiteBundle::form/form_theme.html.twig' %}

                    {{ form_row( form.image, {
                        'label': 'Photo',
                        'attr': {'class': ' form-control' }
                    } ) }}
                    <div class="row">
                    {{ form_row( form.firstName, {
                        'label': 'Prénom',
                        'attr': {'placeholder': 'Laurent', 'classBlock': 'col-sm-6', 'class': 'inputmov form-control' }
                    } ) }}
                    {{ form_row( form.lastName, {
                        'label': 'Nom',
                        'attr': {'placeholder': 'Durant', 'classBlock': 'col-sm-6', 'class': 'inputmov form-control' }
                    } ) }}
                    </div>

                    {{ form_row( form.birthday, {
                        'label': 'Date de naissance'
                    } ) }}
                    {{ form_row( form.phone, {
                        'label': 'Téléphone',
                        'attr': {'placeholder': '04XXXXXXXX', 'class': 'inputmov form-control' }
                    } ) }}
                    {{ form_row( form.street, {
                        'label': 'Rue',
                        'attr': {'placeholder': 'Rue', 'class': 'inputmov form-control' }
                    } ) }}
                    <div class="row">
                    {{ form_row( form.postalCode, {
                        'label': 'Code postale',
                        'attr': {'placeholder': '34000', 'classBlock': 'col-sm-4', 'class': 'inputmov form-control' }
                    } ) }}
                    {{ form_row( form.city, {
                        'label': 'Ville',
                        'attr': {'placeholder': 'Pau...', 'classBlock': 'col-sm-8', 'class': 'inputmov form-control' }
                    } ) }}
                    </div>
                    {{ form_row( form.country, {
                        'label': 'Pays',
                        'attr': {'placeholder': 'France...', 'class': 'inputmov form-control' }
                    } ) }}
             </div>
            <div class="col-sm-6 col-md-6">
                {{ form_row( form.email, {
                    'label': 'Email',
                    'attr': {'placeholder': 'exemple@domaine.com', 'class': 'inputmov form-control' }
                } ) }}
                {{ form_row( form.password.first, {
                    'label': 'Mot de passe',
                    'attr': {'placeholder': 'Mot de passe', 'class': 'inputmov form-control' }
                } ) }}

                {{ form_row( form.password.second, {
                    'label': 'Confirmer le mot de passe',
                    'attr': {'placeholder': 'Confirmer le mot de passe', 'class': 'inputmov form-control' }
                } ) }}
                {{ form_row( form.formule, {
                    'label': 'Formule',
                    'attr': {'class': 'inputmov form-control' }
                } ) }}
                {{ form_row( form.height, {
                    'label': 'Taille (Cm)',
                    'attr': {'placeholder': 'Taille', 'class': 'inputmov form-control' }
                } ) }}
                {{ form_row( form.weight, {
                    'label': 'Poids (Kg)',
                    'attr': {'placeholder': 'Poids', 'class': 'inputmov form-control' }
                } ) }}
            </div>


        </div>
        <div class="text-center">
            {{ form_row( form.save, {
                'label': "Sauvegarder",
                'attr': { 'class': 'btn btn-login' }
            } ) }}
        </div>
        {{ form_end( form ) }}
    </div>
{% endblock %}