{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block class_section %}bg-white{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-4">
                <h3 class="center">{{ 'app.change_password.title'|trans }}</h3>

                <fieldset>
                    {% form_theme form 'AppSiteBundle::form/form_theme.html.twig' %}

                    {{ form_start( form ) }}

                    {{ form_row( form.newPassword.first, {
                        'label': false,
                        'attr': {'placeholder': 'Nouveau mot de passe', 'class': 'inputmov form-control password' }
                    } ) }}

                    {{ form_row( form.newPassword.second, {
                        'label': false,
                        'attr': {'placeholder': 'Confirmer le mot de passe', 'class': 'inputmov form-control password' }
                    } ) }}

                    <div class="text-center">
                        {{ form_row( form.save, {
                            'label': "Sauvegarder",
                            'attr': { 'class': 'btn btn-login' }
                        } ) }}
                    </div>

                    {{ form_end( form ) }}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}