{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" id="search" class="inputmov search form-control" name="search" value="" autocomplete="off" placeholder="{{ 'Rechercher'|trans }}" />
            </div>
            <div class="col-xs-6">
                <a href="{{ path('follow-addpatient') }}" class="btn btn-add"><i class="fa fa-plus" aria-hidden="true"></i>{{ 'Ajouter patient'|trans }}</a>
            </div>
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="patients" class="table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Dernière visite</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if params.users|length > 0 %}
                                {% for user in params.users %}
                                    <tr class="redirectToFollow" data-url="{{ path('follow-visit', {'userId': user.versionInfo.contentInfo.id}) }}">
                                        <td>{{ ez_render_field(user, 'first_name') }} {{ ez_render_field(user, 'last_name') }}</td>
                                        <td>{{ ez_field_value(user, 'user_account').email }}</td>
                                        <td>{{ ez_render_field(user, 'phone') }}</td>
                                        <td>-</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="4">Pas de patient à afficher.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}