{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% include 'AppSiteBundle::follow/userinfo.html.twig' %}

                <div class="pull-right">
                    <a href="{% if params.admin %}{{ path('edit-profil', {'userId': params.user.versionInfo.contentInfo.id}) }}{% else %}{{ path('edit-profil-patient') }}{% endif %}" class="btn btn-download" >
                        Modifier profil
                    </a>
                </div>

            <div class="col-lg-12 panel-visit panel-basic">
                <div class="col-lg-6">
                    <h3>Informations personnelles</h3>
                    <label>Email :</label>
                    <div>{{ ez_field_value(params.user, 'user_account').email }}</div>
                    <label>Sexe :</label>
                    <div>{{ ez_render_field(params.user, 'sex') }}</div>
                    <label>Date de naissance :</label>
                    <div>{{ ez_render_field(params.user, 'birthday_date') }}</div>
                    <label>Addresse :</label>
                    <div>{{ ez_render_field(params.user, 'street') }}</div>
                    <label>Téléphone :</label>
                    <div>{{ ez_render_field(params.user, 'phone') }}</div>
                    <label>Code postal :</label>
                    <div>{{ ez_render_field(params.user, 'postal_code') }}</div>
                    <label>Ville :</label>
                    <div>{{ ez_render_field(params.user, 'city') }}</div>
                    <label>Pays :</label>
                    <div>{{ ez_render_field(params.user, 'country') }}</div>
                </div>
                <div class="col-lg-6">
                    <h3>Autres informations</h3>
                    <label>Formule :</label>
                    <div>{{ ez_render_field(params.user, 'formule') }}</div>
                    <label>Compte :</label>
                    <div>{{ ez_field_value(params.user, 'user_account').login }}</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}