{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 panel-user">
                <div class="info-thumb">
                    {{ ez_render_field(params.user, 'image') }}
                </div>
                <div class="info-content">
                    <h2 class="info-name">{{ ez_render_field(params.user, 'first_name') }} {{ ez_render_field(params.user, 'last_name') }}</h2>
                    <a href="mailto:{{ ez_field_value(params.user, 'user_account').email }}" >{{ ez_field_value(params.user, 'user_account').email }}</a>
                </div>
                <div class="data-patient">
                <div class="circleBlock">
                    <div class="numberCircle circleGreen">
                        <span>Poids</span>
                        <strong>23.00</strong>Kg

                    </div>
                </div>
                <div class="circleBlock">
                    <div class="numberCircle circleRed">
                        <span>IMC</span>
                        <strong>23.00</strong>
                    </div>
                </div>
                <div class="circleBlock">
                    <div class="numberCircle circleBlue">
                        <span>Taille</span>
                        <strong>182</strong>Cm
                    </div>
                </div>
                </div>


            </div>
            <div class="col-lg-12 panel-visit">
                <div class="row">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#weight" aria-controls="weight" role="tab" data-toggle="tab">Poids</a></li>
                        <li role="presentation"><a href="#imc" aria-controls="imc" role="tab" data-toggle="tab">IMC</a></li>
                        <li role="presentation"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Mesures</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="weight">
                            <canvas id="weightChart" ></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="imc">
                            <canvas id="imcChart"></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="body">
                            <canvas id="bodyChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}