<div class="col-lg-12 panel-user">
    {% if not ez_is_field_empty(params.user, 'image') %}
        <div class="info-thumb box-user">
            {{ ez_render_field(params.user, 'image') }}
        </div>
    {% endif %}
    <div class="info-content box-user">
        <h2 class="info-name">{{ ez_render_field(params.user, 'first_name') }} {{ ez_render_field(params.user, 'last_name') }}</h2>
        <a href="mailto:{{ ez_field_value(params.user, 'user_account').email }}" >{{ ez_field_value(params.user, 'user_account').email }}</a>
    </div>
    <div class="data-patient box-user">
        <div class="circleBlock">
            <div class="numberCircle circleGreen">
                <span>Poids</span><br>
                <strong class="weightUser">{{ ez_field_value(params.user, 'weight') }}</strong>Kg

            </div>
        </div>
        <div class="circleBlock">
            <div id="color-fat" class="numberCircle {{ params.colorFatMass }}">
                <span>Mass. G</span><br>
                <strong class="massGUser">{{ ez_field_value(params.user, 'fat_mass') }}</strong>%
            </div>
        </div>
        <div class="circleBlock">
            <div class="numberCircle circleBlue">
                <span>Taille</span><br>
                <strong class="sizeUser">{{ ez_field_value(params.user, 'height') }}</strong>Cm
            </div>
        </div>
    </div>


</div>