{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block body %}
    {% if params.visits|length > 0 %}
        <script type="text/javascript">
            //<![CDATA[
            var visits = '{{ params.visits_json|raw }}';
            //]]>
        </script>
    {% endif %}
    <div class="container">
        <div class="row">
            {% include 'AppSiteBundle::follow/userinfo.html.twig' %}
            {% if params.admin %}
                <div class="pull-right">
                    <button type="button" class="btn btn-addvisite" data-toggle="modal" data-target="#visitModal">
                        Ajouter une visite
                    </button>
                </div>
            {% endif %}
            <div class="col-lg-12 panel-visit">
                <div class="row">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#weight" aria-controls="weight" role="tab" data-toggle="tab">Poids</a></li>
                        <li role="presentation"><a href="#imc" aria-controls="imc" role="tab" data-toggle="tab">Mass. G</a></li>
                        <li role="presentation"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Mesures</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="weight">
                            {% if params.visits|length == 0 %}
                                <span class="msg_nodata">{{ 'app.no_data'|trans }}</span>
                            {% endif %}
                            <canvas id="weightChart" ></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="imc">
                            {% if params.visits|length == 0 %}
                                <span class="msg_nodata">{{ 'app.no_data'|trans }}</span>
                            {% endif %}
                            <canvas id="imcChart"></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="body">
                            {% if params.visits|length == 0 %}
                                <span class="msg_nodata">{{ 'app.no_data'|trans }}</span>
                            {% endif %}
                            <canvas id="bodyChart"></canvas>

                            <div class="table-responsive {% if params.visits|length == 0 %}hide{% endif %}">
                                <table id="visits" class="table" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Bras</th>
                                        <th>Cuisses</th>
                                        <th>Poitrine</th>
                                        <th>Taille</th>
                                        <th>Hanches</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for visit in params.visits %}
                                            <tr>
                                                <td>{{ visit.date }}</td>
                                                <td>{{ visit.arm }}</td>
                                                <td>{{ visit.thigh }}</td>
                                                <td>{{ visit.chest }}</td>
                                                <td>{{ visit.size }}</td>
                                                <td>{{ visit.hip }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% if params.admin %}
    <div class="modal fade" id="visitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="overlaymodal"></div>
                {{ form_start( form, { 'attr': {'id': 'addvisit'}} ) }}

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="visitModalLabel">Nouvelle visite</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 msg_error"></div>
                    {% form_theme form 'AppSiteBundle::form/form_theme.html.twig' %}
                    <div class="col-lg-6">
                        {{ form_row( form.date, {
                            'label': 'Date'
                        } ) }}
                        {{ form_row( form.weight, {
                            'label': 'Poids',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                        {{ form_row( form.fatMass, {
                            'label': 'Masse G.',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row( form.arm, {
                            'label': 'Mesure bras',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                        {{ form_row( form.thigh, {
                            'label': 'Mesure cuisses',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                        {{ form_row( form.chest, {
                            'label': 'Mesure poitrine',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                        {{ form_row( form.hip, {
                            'label': 'Mesure hanche',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                        {{ form_row( form.size, {
                            'label': 'Mesure taille',
                            'attr': {'class': 'inputmov form-control' }
                        } ) }}
                    </div>
                    {{ form_row( form.userId, {
                        'label': false,
                        'attr': {'class': 'hide' }
                    } ) }}

                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <div id="spinner-modal"></div>
                    {{ form_row( form.save, {
                        'label': "Sauvegarder",
                        'attr': { 'class': 'btn btn-login' }
                    } ) }}
                </div>
                {{ form_end( form ) }}

            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}